/* Main button styles */
.btn {
    padding: .5rem 2rem .5rem 2rem;
    color: var(--white);
    background-color: var(--dark-green);
    border-radius: 20px;
    border: none;
    font-size: 1.2rem;
}

/* Style for the hover effect */
.btn:hover {
    box-shadow: 0 0 20px 5px var(--secondary);
    color: var(--secondary);
    background-color: var(--white);
    cursor: pointer;
}