/* Main style container */
.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* Center text on small screens */
}

.container h1 {
    font-size: 3rem;
    color: var(--dark);
    margin-bottom: 1rem;
    /* Reduce bottom margin for spacing */
}

.container h3 {
    font-size: 2rem;
    color: var(--dark-green);
    margin-bottom: 1rem;
    /* Reduce bottom margin for spacing */
}

.container h4 {
    font-size: 1.5rem;
    color: var(--secondary);
}

/* Style for image container */
.image {
    max-width: 50%;
}

/* Style for the image */
.image img {
    max-width: 100%;
    /* Make the image responsive */
    height: auto;
    /* Maintain aspect ratio */
    object-fit: cover;
}


/* Responsive Styles */
@media (max-width: 767px) {
    .container h1 {
        font-size: 2.5rem;
    }

    .container h3 {
        font-size: 1.5rem;
    }

    .container h4 {
        font-size: 1rem;
    }
}