/* Main style container */
.container {
    text-align: center;
}

/* Style for the p tags */
.container p {
    font-size: 1.2rem;
}

/* Style for the input element */
.container input {
    margin-right: .5rem;
}

/* Style for the dropdown filter */
.filter {
    margin-bottom: 2rem;
}