/* Main style for the card container */
.card {
  position: relative;
  border: 1px solid var(--dark-green);
  border-radius: 10px;
  margin-bottom: 4rem;
  transition: box-shadow 0.3s ease;
}

/* Style for the hover effect on the card */
.card:hover {
  box-shadow: 5px 5px 15px 0 var(--secondary);
  cursor: pointer;
}

/* Style for the character image */
.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

/* Style for the Link */
.card a {
  text-decoration: none;
}

/* Style for the Status badge */
.card .badge {
  position: absolute;
  top: 0.5rem; 
  /* Adjust top position based on your design */
  right: 0.5rem; 
  /* Adjust right position based on your design */
  color: var(--white);
  padding: 0.5rem;
  border-radius: 10px;
}

/* Style for the description */
.description {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  text-align: center;
  color: var(--dark-green);
}

.description span {
  font-weight: bold;
}

.description p {
  display: inline-flex;
  flex-direction: column;
}

/* Responsive Style */
@media (max-width: 767px) {
  .card {
    margin-bottom: 2rem;
  }

  .card img {
    border-radius: 0;
  }
}
