.characters h1 {
    display: flex;
    flex-wrap: wrap;
    /* Allow items to wrap to the next line on smaller screens */
    justify-content: space-between;
}

.filters {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.characters a {
    text-decoration: none;
    margin: 0;
}



/* Media query for medium screens (up to 768px) */
@media (max-width: 768px) {
    .characters h1 {
        flex-direction: column;
        /* Stack items vertically on smaller screens */
        align-items: center;
        /* Center items on smaller screens */
        gap: 1rem;
    }

}

/* Media query for small screens (up to 600px) */
@media (max-width: 600px) {
    .characters {
        padding: 1rem;
        /* Adjust padding for smaller screens */
    }

    .characters h1 {
        gap: 1rem;

    }

    .filters {
        flex-direction: column;
    }
}