/* Main style container */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 50px;
}

/* Style for character image  */
.characterImage {
  width: 200px;
  height: auto;
  margin-top: 20px;
}

/* Style for the character detail  */
.details {
  margin-top: 20px;
  text-align: start;
}

/* Style for episodes list */
.episodes {
  margin-top: 20px;
  text-align: start;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .container {
    margin-top: 30px;
  }

  .characterImage {
    width: 150px;
    /* Adjust the image width */
    margin-top: 15px;
  }

  .details,
  .episodes {
    margin-top: 15px;
  }
}