
/* Main container style */
.container {
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
  }
  
  /* Style for the input element */
  .container input {
    padding: 0.5rem;
    border-radius: 15px;
    border: 1px solid #ccc;
    width: 70%;
    max-width: 400px;
    transition: border-color 0.3s ease;
  }
  
  /* Style for the focus effect */
  .container input:focus {
    outline: none;
    border-color: turquoise;
    box-shadow: 0 0 5px var(--dark-green);
  }
  
  /* Responsive styles for smaller screens */
  @media (max-width: 600px) {
    .container input {
      width: 100%;
      /* Full width for smaller screens */
      max-width: none; 
      /* Remove max-width for full width */
    }
  }
  