:root {
  --primary: #00B4CB;
  --secondary: #B1DE27;
  --white: #fff;
  --dark: #00353E;
  --dark-green: #1D644F;
}

body {
  margin: 0;
  padding: 0 10rem;
}

select {
  padding: .5rem 1.5rem;
  color: var(--white);
  border-radius: 5px;
  background-color: var(--dark);
}

span {
  color: var(--primary);
}

.cardLayout {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: 1rem;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  body {
    padding: 0 1rem;
  }

  .cardLayout {
    grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
    gap: 0.5rem;
  }
}